<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário - IFVerde</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header>
        <div class="container">
            <a href="/"><img src="/img/logo.png" alt="Logo IFVERDE"></a>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/estoque">Estoque</a></li>
                    <li><a href="/vendas">Vendas</a></li>
                    <li><a href="/despesas">Despesas</a></li>
                    <li><a href="/calendario">Calendário</a></li>
                    <li><a href="/historico">Relatórios</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        <section class="card-section" id="calendario-visual" style="text-align: center;">
            <div class="calendar-header">
                <h2 id="month-year">Mês/Ano</h2>
                <p>Acompanhe os dias do mês.</p>
            </div>

            <div class="calendar-grid">
                <div class="weekday">Dom</div>
                <div class="weekday">Seg</div>
                <div class="weekday">Ter</div>
                <div class="weekday">Qua</div>
                <div class="weekday">Qui</div>
                <div class="weekday">Sex</div>
                <div class="weekday">Sáb</div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 IFVerde</p>
    </footer>
    <script src="/javascript/script.js"></script>
</body>

</html>